.header {
    background: url('../img/initial.png') center / cover no-repeat;
    

}
.desktop-navigation{
    padding: 44px 0;
    @media (max-width: $breakpoint-sm) {
        padding-top: 20px;
    }
}
.desktop-navigation__list{
    display: flex;
    gap: 1109px;
    @media (max-width: $breakpoint-sm) {
        justify-content: center;
    }
}
.desktop-navigation__list-element{
    font-size: 28px;
    @media (max-width: $breakpoint-md) {
        font-size: 22px;
        
    }
    @media (max-width: $breakpoint-sm) {
        font-size: 28px;
        line-height: 100%;
        letter-spacing: 10%;
        
    }
    line-height: 100%;
    font-weight: 400;
}
.desktop-navigation__button-image{
    background-color: $white;
}