$primary: #25A59E;
$secondary: #262626;
$light-secondary:#333333;
$gray:#595959;
$border-color: #F2F2F2;
$border-secondary-color:#D9D9D9;
$background-button:#EE8F39;
$white: #FFFFFF;

$box-shadow: 105px 50px 78px 0px rgba(55, 54, 100, 0.05), -55px 50px 98px 0px rgba(55, 54, 100, 0.04);
$box-shadow-card: 10px 26px 150px 0px rgba(67, 67, 100, 0.10);
/* container size */
$container-sm: 540px;
$container-md: 720px;
$container-lg: 960px;
$container-xl: 1200px;
/* breakpoints */
$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 1050px;
$breakpoint-xl: 1250px;